<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="wxModal" class="modal fade fade-in" id="languageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xs" role="document">
        <div class="modal-content bg-black">
            <div class="modal-body text-center p-0">
                <h3 class="text-sans-serif" style="color:#ffffff;">13898844147</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>